*{font-family:'DM Sans';}

.contenedorCities{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 20px;
    width: 100%;
    min-height: 70vh;
    height: auto;
}


 .titulo{
        font-family:'DM Sans';
        font-size: 56px; /* Ajusta el tamaño de fuente según tus preferencias */
        font-weight: bold; /* Opcional, ajusta el peso de la fuente según tus preferencias */
        background-clip: text;
        color: transparent; 
        background-image: linear-gradient(to right, rgb(13, 191, 245) 20%, rgb(250, 253, 248) 80%);
     
      

}


.tarjeta{
    width: 250px;
    height: 300px;
    border: 2px black solid;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    

}
.tarjeta img{
    width: 100%;
    height: 100%;
}
.tarjeta h2 {
    position: absolute;
    top: 10px;
    width: 100%;
    text-shadow: 2px 2px 2px black;
    
}
.botonDetalles{
  position: absolute;
    bottom: 20px ;
    height: 30px;
    width: 60px;
    left:40%;
    background-color: rgb(6, 200, 235);
    border-radius: 10px;
    color: white;
    cursor:pointer;
}
.search{
    width: 25%;
    height: 30px;
    position: absolute;
    top:15%;
    right: 10px;
    border: 3px solid rgb(247, 0, 255);
    border-radius: 10px;
}

.search:focus {
    outline: none; /* Elimina el contorno de enfoque predeterminado */
    border-color: rgb(230, 4, 211); /* Color del borde al estar enfocado */
    box-shadow: 0 0 6px rgb(165, 3, 180); /* Opcional: agrega una sombra alrededor del input enfocado */
  }